name: Validate Ansible files
permissions: {}

'on':
  push:
    branches:
      - main
  pull_request:

env:
  TASK_VERSION: "3.45.5"

jobs:
  ansible:
    name: Validate Ansible files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Task
        run: |
          mkdir -p "${HOME}/.local/bin"
          curl -sL "https://github.com/go-task/task/releases/download/v${TASK_VERSION}/task_linux_amd64.tar.gz" | tar xzf - -C "${HOME}/.local/bin" task
      - name: Install Ansible
        run: |
          pip install ansible
      - name: Install ansible-lint
        run: |
          pip install ansible-lint
      - name: Validate Ansible files
        run: |
          task check
